/* Banner */

.fork-me {
    float: right;
}

/* Monospace */
.resource-file,
.package-usage li,
.resource-modal-file {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Consolas', monospace;
}

/* Bold */
.resource-main {
  font-weight: bold;
}

/* Clipboard */

.tooltip {
    /* Display atop the modal */
    z-index: 2000;
}
