{% macro print_package(package, tools_static) -%}
<table class="table">
  <tr>
    <th>Description</th>
    <td>
    {% if 'description' in package %}
      {{ package['description'] }}
    {% else %}
      No description available for this package.
    {% endif %}
    </td>
  </tr>
  {% if 'license' in package and 'license-file' in package %}
  <tr>
    <th>License</th>
    <td><a href="{{ tools_static(package['name'], package['version'], package['license-file']) }}">{{ package['license'] }}</a></td>
  </tr>
  {% endif %}
  {% if 'homepage' in package %}
  <tr>
    <th>More information</th>
    <td><a href="{{ package['homepage'] }}">Homepage</a></td>
  </tr>
  {% endif %}
  {% if 'versions' in package %}
  <tr>
    <th>Versions</th>
    <td>
      <ul>
      {% for version in package['versions'] %}
        <li><a href="{{ url_for('show_version', package=package['name'], version=version) }}">{{ version }}</a>
      {% endfor %}
      </ul>
    </td>
  </tr>
  {% endif %}
</table>
{%- endmacro %}

{% macro print_resource_dialog() -%}
<div class="modal fade" id="resource-modal" tabindex="-1" role="dialog" aria-labelledby="resource-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title resource-modal-label"><span class="resource-modal-package">(package)</span> <span class="resource-modal-version">(version)</span>: <span class="resource-modal-file">(file)</span></h4>
			</div>
			<div class="modal-body">
				<pre class="resource-modal-snippet">(snippet)</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a role="button" class="btn btn-default resource-view">View</a>
				<a role="button" class="btn btn-default resource-download">Download</a>
				<button type="button" class="btn btn-primary btn-clipboard">Copy</button>
			</div>
		</div>
	</div>
</div>
{%- endmacro %}
