{% extends "base.html" %}
{% import '_package.html' as package_utils %}

{% block page_title %}Home{% endblock %}
{% block page_heading %}Resources for Tool Labs{% endblock %}

{% block page_content %}
<p><tt>static</tt> hosts resources like CSS and JavaScript frameworks, fonts and
  icons for the use on Tool Labs.  If you are missing something, feel free to
  create a pull request on <a href="https://github.com/tool-labs/static/"
  title="tool-labs/static on GitHub">GitHub</a>.</p>

<h2>Libraries</h2>
{% if not libraries %}
  <p>At the moment no libraries are available.  This is probably an error.  If
    this does not change within the next minutes, please open an issue on
    GitHub.</p>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Library</th>
      <th>Version</th>
      <th>Main files</th>
      <th>License</th>
    </tr>
  </thead>
  <tbody>
  {% for (name, package_content) in libraries | dictsort %}
  {% for (version, version_content) in package_content | dictsort %}
    {% set title = version_content['title'] %}
    {% set license = version_content['license'] %}
    {% set license_file = version_content['license-file'] %}
    {% set files = version_content['files'] %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ package_content.keys() | length}}"><a href="{{ url_for('show_package', package=name) }}">{{ title }}</a></td>
      {% endif %}
      <td><a href="{{ url_for('show_package_version', package=name, version=version) }}">{{ version }}</a></td>
      <td class="package" {{ package_utils.print_package_data(version_content) }}>
        {{ package_utils.print_files(version_content, tools_static) }}
      </td>
      <td><a href="{{ tools_static(name, version, license_file) }}"
        title="License file">{{ license }}</a></td>
    </tr>
  {% endfor %}
  {% endfor %}
  <tobdy>
</table>
{% endif %}

<h2>Fonts</h2>
{% if not fonts %}
  <p>At the moment no fonts are available.  This is probably an error.  If
    this does not change within the next minutes, please open an issue on
    GitHub.</p>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Library</th>
      <th>Version</th>
      <th>Fonts</th>
      <th>License</th>
    </tr>
  </thead>
  <tbody>
  {% for (name, package_content) in fonts | dictsort %}
  {% for (version, version_content) in package_content | dictsort %}
    {% set title = version_content['title'] %}
    {% set license = version_content['license'] %}
    {% set license_file = version_content['license-file'] %}
    {% set package_fonts = version_content['fonts'] %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ package_content.keys() | length}}"><a href="{{ url_for('show_package', package=name) }}">{{ title }}</a></td>
      {% endif %}
      <td><a href="{{ url_for('show_package_version', package=name, version=version) }}">{{ version }}</a></td>
      <td class="package" {{ package_utils.print_package_data(version_content) }}>
        {{ package_utils.print_fonts(version_content, tools_static) }}
      </td>
      <td><a href="{{ tools_static(name, version, license_file) }}"
        title="License file">{{ license }}</a></td>
    </tr>
  {% endfor %}
  {% endfor %}
  <tobdy>
</table>
{% endif %}
{% endblock %}

{% block page_bottom %}
{{ package_utils.print_resource_dialog() }}
{% endblock %}
