{% extends "base.html" %}
{% import '_package.html' as package_utils %}

{% block page_title %}{{ package['title'] }} {{ package['version'] }}{% endblock %}
{% block page_heading %}Package {{ package['title'] }} {{ package['version'] }}{% endblock %}

{% block page_content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('show_package', package=package['name']) }}">{{ package['title'] }}</a></li>
  <li class="active">{{ package['version'] }}</li>
</ol>

{{ package_utils.print_package(package, tools_static) }}

<div class="row">
  <div class="col-md-6">
    <h4>Available files</h4>
    <ul class="package" data-package="{{ package['name'] }}" data-package-title="{{ package['title'] }}" data-version="{{ package['version'] }}">
      {% for file in all_files | sort %}
      <li><a href="{{ tools_static(package['name'], package['version'], file) }}" class="resource resource-file{% if file in package['files'] %} resource-main{% endif %}" data-resource="{{ file }}">{{ file }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Usage (30 days)</h4>
    {% if access %}
    <ul class="package-usage">
      {% for (key, value) in access | dictsort() %}
      <li><a href="//tools.wmflabs.org/{{ key }}">{{ key }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No usage within the last 30 days.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block page_bottom %}
{{ package_utils.print_resource_dialog() }}
{% endblock %}
